@charset "utf-8";

:root {
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    --clr-primary-a0: #38baf2;
    --clr-primary-a10: #5cc2f4;
    --clr-primary-a20: #77c9f5;
    --clr-primary-a30: #8ed1f7;
    --clr-primary-a40: #a3d8f8;
    --clr-primary-a50: #b7e0fa;

    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;
    --clr-surface-a60: #b4b4b4;
    --clr-surface-a70: #c2c0c0;
    --clr-surface-a80: #d8d8d8;
    --clr-surface-a90: #f1f1f1;

    --clr-surface-tonal-a0: #1a2125;
    --clr-surface-tonal-a10: #2f3639;
    --clr-surface-tonal-a20: #464c4f;
    --clr-surface-tonal-a30: #5d6366;
    --clr-surface-tonal-a40: #767b7e;
    --clr-surface-tonal-a50: #909496;

    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #759bd8;
    --clr-info-a30: #a8c4f0;
}

@font-face {
    font-family: text;
    src: url('cascadia-code.ttf');
}

body {
    font-family: text;
    font-size: 0.8vw;
    background: var(--clr-surface-a0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.chat-container {
    position: absolute;
    width: 50vw;
    top: 0;
    left: 25vw;
    height: 100vh;
    background: var(--clr-surface-a10);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--clr-surface-a20);
    border-right: 1px solid var(--clr-surface-a20);
}

.chat-history {
    height: 90%;
    padding: 16px;
    overflow-y: auto;
}

.message {
    position: relative;
    line-height: 1.6;
    margin-bottom: 1vw;
    border: 1px solid var(--clr-surface-a20);
    border-radius: 0.5vw;
    padding: 1vw;
}

.message pre {
    background: var(--clr-surface-a0);
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}

.message code {
    background: var(--clr-surface-a20);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

.message .label {
    font-weight: bold;
    color: var(--clr-info-a30);
}

.message .content {
    display: inline;
}

.message .content p {
    display: inline;
}

.message p,
.message ul,
.message ol,
.message h1,
.message h2,
.message h3 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.message p:first-child {
    margin-top: 0;
}

.message.user {
    white-space: pre-wrap;
}

.user {
    color: var(--clr-info-a30);
    font-weight: bold;
}

.assistant {
    color: var(--clr-surface-a90);
}

.input-area {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    flex: 1;
    padding: 12px;
    border-top: 1px solid var(--clr-surface-a30);
    background-color: var(--clr-surface-a20);
}

.input-area .file-name {
    font-family: text;
    font-size: 0.8vw;
    color: var(--clr-warning-a20);
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-area textarea {
    outline: none !important;
    flex: 1;
    align-self: stretch;
    resize: none;
    overflow-y: auto;
    padding: 10px;
    font-family: text;
    font-size: 0.8vw;
    color: var(--clr-light-a0);
    background-color: var(--clr-surface-a0);
    border: none;
    border-radius: 0.6vw;
    min-height: 16px;
    max-height: 400px;
}

.input-area button {
    padding: 10px 16px;
    font-family: text;
    font-size: 0.8vw;
    cursor: pointer;
    background-color: var(--clr-info-a20);
    color: var(--clr-dark-a0);
    border: none;
    border-radius: 0.5vw;
    height: 35px;
    flex-shrink: 0;
}

#attachBtn {
    margin-right: 0.7vw;
}

#sendBtn, #clearBtn {
    margin-left: 0.7vw;
}

.typing {
    font-style: italic;
    color: var(--clr-info-a20);
}

.logo {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 2vw;
    height: 2vw;
    background-image: url(../ollama.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}

.modelSelect {
    position: absolute;
    top: 4vw;
    left: 0;
    height: 2vw;
    width: 22.8vw;
    padding: 0.8vw 1vw;
}

.tokensSelect {
    position: absolute;
    top: 0.7vw;
    left: 5.3vw;
    height: 2vw;
    width: 10vw;
    padding: 0.8vw 1vw;
}

.stream-div {
    position: absolute;
    top: 0.7vw;
    left: 0;
    height: 1.6vw;
    line-height: 1.6vw;
    vertical-align: middle;
    width: 22.8vw;
    padding: 0.8vw 1vw;
    font-family: text;
    font-size: 0.9vw;
    color: var(--clr-surface-a70);
    text-align: end;
}

.modelSelect label,
.tokensSelect label {
    position: absolute;
    bottom: 0.8vw;
    left: 1.2vw;
    height: 1.7vw;
    font-family: text;
    font-size: 0.9vw;
    color: var(--clr-surface-a70);
}

.dropdown-model {
    position: absolute;
    right: 1vw;
    bottom: 0.8vw;
    width: 17vw;
    height: 4vh;
    color: var(--clr-surface-a80);
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-a30);
    border-radius: 0.5vw;
    font-family: text;
    font-size: 0.9vw;
    user-select: none;
}

.dropdown-tokens {
    position: absolute;
    right: 1vw;
    bottom: 0.8vw;
    width: 4vw;
    height: 4vh;
    color: var(--clr-surface-a80);
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-a30);
    border-radius: 0.5vw;
    font-family: text;
    font-size: 0.9vw;
    user-select: none;
}

.dropdown-selected {
    color: var(--clr-surface-a90);
    cursor: pointer;
    padding: 0.6vw 0.7vw;
    font-family: text;
    font-size: 0.9vw;
}

.dropdown-options {
    position: absolute;
    top: 6vh;
    left: 0;
    right: 0;
    background: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-a30);
    max-height: 90vh;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 0.5vw;
    line-height: 1.3;
    font-family: text;
    font-size: 0.8vw;
}

.dropdown-options div {
    padding: 0.3vw 0.7vw;
    cursor: pointer;
}

.dropdown-options div:hover {
    background: var(--clr-surface-a0);
}

.hidden {
    display: none;
}

.drag-handle {
    height: 6px;
    cursor: row-resize;
    background: var(--clr-surface-a30);
    transition: background 0.2s;
}

.drag-handle:hover {
    background: var(--clr-info-a20);
}

.date-time {
    position: absolute;
    bottom: -0.9vw;
    right: 0vw;
    font-family: text;
    font-size: 0.51vw;
    color: var(--clr-primary-a50);
    pointer-events: none;
}

.copy {
    position: absolute;
    top: 0.1vw;
    right: 0.3vw;
    font-family: text;
    font-size: 0.51vw;
    color: var(--clr-surface-a30);
    cursor: pointer;
    width: auto;
}

.copy:hover {
    color: var(--clr-info-a30);
}

.saved-title {
    position: absolute;
    top: 48.6vh;
    left: 1.3vw;
    font-family: text;
    font-size: 0.85vw;
    font-weight: bold;
    color: var(--clr-surface-a70);
    width: auto;
}

.new-conversation {
    position: absolute;
    top: 48.6vh;
    width: auto;
    right: 76.5vw;
    font-family: text;
    font-size: 0.8vw;
    color: var(--clr-surface-a70);
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

.new-conversation:hover {
    font-weight: bold;
    color: var(--clr-info-a20);
}

.saved-list {
    position: absolute;
    top: 50vh;
    left: 0;
    width: 22.8vw;
    bottom: 0;
    overflow-y: auto;
    padding: 1vw;
    font-family: text;
    font-size: 0.8vw;
    color: var(--clr-surface-a50);
}

.saved-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5vw;
    padding: 0.3vw;
    border-radius: 0.3vw;
    line-height: 1.1vw;
    border: 1px solid var(--clr-surface-a10);
}

.saved-item:hover {
    color: var(--clr-surface-a70);
    background-color: var(--clr-surface-a10);
}

.active-conversation {
    font-weight: bold;
    color: var(--clr-info-a20);
}

.saved-item .delete-btn {
    opacity: 0;
    transition: opacity 0.2s;
    text-decoration: none;
    color: red;
    margin-left: 1vw;
}

.saved-item:hover .delete-btn {
    opacity: 1;
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 22.8vw;
    padding: 1vw;
    font-family: text;
    font-size: 0.5vw;
    color: var(--clr-warning-a20);
    overflow-y: auto;
}